@font-face {
	font-family: 'SL-Light';
	src: url('assets/fonts/Superlative-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SL-Regular';
	src: url('assets/fonts/Superlative-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SL-Regular-Condensed';
	src: url('assets/fonts/Superlative-RegularCondensed.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--black: #141414;
	--dark_gray: #232323;
	--gray: #8C8C8C;
	--light_gray: #F6F4F2;
	--white: #FFFFFF;
	--orange: #E66F27;

	font-family: 'SL-Regular', sans-serif;
	font-size: 15px;
	/* By default ligatures (sb01) are off; turn on for specific elements. */
	font-variant-ligatures: none;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr;
	gap: 2rem;
	grid-template-areas:
		"header"
		"main";
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	align-items: center;
	justify-content: space-between;
	font-family: 'SL-Regular-Condensed', sans-serif;
	padding: 1rem;
}

header > * {
	text-transform: uppercase;
}

.header-title {
	justify-self: start;
}

.header-lockup {
	justify-self: center;
	height: 24px;
	width: auto;
}

.header-logo {
	height: 30px;
	width: auto;
	justify-self: end;
}

main {
	display: grid;
	grid-area: main;
	gap: 4rem;
	align-items: center;
	justify-items: center;
	background: var(--light_gray);
	padding: 2rem;
	border: 1rem solid var(--white);
	background-color: var(--light_gray);
}

h1 {
	font-family: 'SL-Light', sans-serif;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: var(--dark_gray);
	margin: 0;
}

a {
	display: block;
	text-decoration: none;
	color: var(--black);
	width: 100%;
	max-width: 60rem;
	height: fit-content;
	transform: none;
}

figure {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 2rem;
	place-items: center;
	font-family: 'SL-Light', sans-serif;
	font-variant-ligatures: normal;
	text-transform: uppercase;
	margin: 0;
	color: var(--dark_gray);
}

figure img {
	grid-row: 1 / span 2;
	width: 100%;
	height: auto;
}

figcaption {
	grid-row: 2;
	font-size: clamp(100%, 4rem, 6vw);
	line-height: 1;
}

figcaption small {
	font-size: 0.7em;
}

@media (orientation: portrait) {
	a {
		transform: translateY(-15%);
	}
}

@media (max-width: 600px) {
	header {
		grid-template-columns: 1fr 1fr;
	}

	.header-lockup {
		display: none;
	}
}
